/* Add css rules here for your application. */

div.active{
	background-color:#CC0000;
}

div.float{
	float: left;
}

div.rwList{
	background-color: #FFFFFF;
    border-radius: 10px 10px 10px 10px;
    border-style: solid;
    border-width: 0;
    box-shadow: 1px 1px 5px;
    margin: 10px 30px 20px 0;
    padding: 0 8px 26px 18px;
    width: 300px;	
}

div.rwHeader{
	background-color: #EEEEEE;
    border-style: none none dotted;
    border-width: 1px;
    margin: 20px auto;
    padding: 10px;
    width: 1004px
}

div.rwBody{
	background: none repeat scroll 0 0 #a1c465;
    border-radius: 17px 17px 17px 17px;
    box-shadow: 0 0 9px #000000 inset;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 1004px;
}

div.rwSidebar {
	background-color: rgba(255,255,255,0.3);
    border-radius: 10px 10px 10px 10px;
    box-shadow: 1px 1px 6px #000000;
    float: left;
    min-height: 104px;
    padding: 10px;
    width: 233px;
}

div.rwContent {
	float: left;
    margin-left: 10px;
    min-height: 100px;
    width: 740px;
}

div.rwDiscussions{
	width: 400px;
	float: left;
	min-height: 100px;
	clear: both;
	padding: 10px;
}

div.rwFooter {
	background-color: #EEEEEE;
    border-style: none none dotted;
    border-width: 1px;
    clear: both;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 0 0 10px;
    width: 1024px;
}

div.rwLogin {
	float: right;
	
}

div.rwStarShining{
	background-image:  url('images/starShining.png');
	width: 32px;
	height: 32px;
}

div.rwStarDead{
	background-image: url('images/starDead.png');
	width: 32px;
	height: 32px;
}

table.rwFooterLinkPanel {
	width:100%;
}

td.rwFooterLinkPanel{
	width:33%;
}

table.rwFooterBlock {
	margin-left: 50px;
}