/* Add css rules here for your application. */

div.active{
	background-color:#CC0000;
}

div.float{
	float: left;
}

div.rwList{
	width:300px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top:10 px;
	margin-bottom:10 px;

	padding: 8px;
	border-style: none none dotted none;
	border-width: 1px;
	background-color: #FFFFFF;	
}

div.rwHeader{
	width:1024px;
	margin-left: auto ;
	margin-right: auto ;
	
	padding: 8px;
	border-style: none none dotted none;
	border-width: 1px;
	background-color: #EEEEEE;	
}

div.rwBody{
	width:1024px;
	margin-left: auto ;
	margin-right: auto ;
}

div.rwSidebar {
	background-color: #DDDDFF;
	width: 224px;
	float: left;
	min-height: 100px;
}

div.rwContent {
	background-color: #FFFFDD;	
	width: 800px;
	float: left;
	min-height: 100px;
}

div.rwDiscussions{
	background-color: #DDFFDD;	
	width: 800px;
	float: left;
	min-height: 100px;
	clear: both;
}

div.rwFooter {
	padding: 8px;
	border-style: none none dotted none;
	border-width: 1px;
	background-color: #CCCCCC;
	
	clear: both;
	width:1024px;
	margin-left: auto ;
	margin-right: auto ;
}

div.rwLogin {
	float: right;
	
}

table.rwFooterLinkPanel {
	width:100%;
}

td.rwFooterLinkPanel{
	width:33%;
}

table.rwFooterBlock {
	margin-left: 50px;
}