/** Add css rules here for your application. */
body {
margin:0;
padding: 0;
font-family: 'Lucida Grande', helvetica, arial, verdana, sans-serif;
font-size: 90%;
}

a:link { color:#000070; text-decoration:none; }
a:hover { text-decoration:underline; }
a:visited { color:#551A8B; text-decoration:none; }

h1 {
font-size: x-large;
font-weight: bold;
line-height: 150%;
}

h2 {
font-size: medium;
line-height: 180%;
}

#abstract {
width: 100%;
text-align:justify;
font-family: 'Lucida Grande', helvetica, arial, verdana, sans-serif;
line-height:140%;
}

h2.abstract {
display: inline;
line-height: 100%;
}



#meta {
   width: 80%;
   margin-top:50px;
   align : center;
}

#header {
padding: 8px;
border-style: none none dotted none;
border-width: 1px;
background-color: #EEEEEE;
}

.references {
line-height: 130%;
text-align:left;
float:left; 
width:100%;
} 

.references ul {
margin: 0;
}
.references ul li {
margin-top: 5;
}

/*
.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined 
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

 Set ids using widget.getElement().setId("idOfElement") 
#closeButton {
  margin: 15px 6px 6px;
}*/
